trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: self

- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.10'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies'

- script: |
    python manage.py collectstatic --noinput
    python manage.py migrate --noinput
  displayName: 'Django tasks'

# Para deploy ao Azure Web App você pode usar a task AzureWebApp@1 com publish profile
- task: AzureWebApp@1
  inputs:
    azureSubscription: '<Nome da sua conexão de serviço>'    # precisa configurar service connection no Azure DevOps
    appName: 'sistemasbrkb'
    package: '$(System.DefaultWorkingDirectory)/*'
