{% load i18n %}{% autoescape off %}
Olá!

Recebemos uma solicitação para redefinir a senha da sua conta em {{ site_name }}.

Para continuar, clique no link abaixo e siga as instruções para criar uma nova senha:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Se você não solicitou a redefinição de senha, pode ignorar este e-mail com segurança.

Caso tenha qualquer dificuldade ou precise de ajuda, não hesite em nos contatar através do e-mail {{ admin_email }}. Nossa equipe de Sucesso do Cliente está à disposição para ajudar!

Atenciosamente,

A equipe de Sucesso do Cliente da {{ site_name }}
{% endautoescape %}
