{% extends "registration/base.html" %}
{% load i18n jazzmin %}
{% get_jazzmin_settings request as jazzmin_settings %}

{% block bodyclass %}login{% endblock %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
        <a href="{% url 'admin:index' %}"><b>{{ jazzmin_settings.site_header }}</b></a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            {% if validlink %}
                <p class="login-box-msg">Por favor, digite sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>

                <form method="post">
                    {% csrf_token %}

                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for field, errors in form.errors.items %}
                                {{ errors }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="input-group mb-3">
                        <input type="password" name="{{ form.new_password1.name }}" class="form-control" placeholder="Nova senha" required id="{{ form.new_password1.id_for_label }}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" name="{{ form.new_password2.name }}" class="form-control" placeholder="Confirmação da nova senha" required id="{{ form.new_password2.id_for_label }}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Alterar minha senha</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <p class="login-box-msg">O link de redefinição de senha era inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}